# WK10 Data Cleaning

Name: **Danilo B. Aloquina III**

Course: **BSCpE 2A**

import **pandas, numpy and matplotlib** library**

In [2]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

# Overview of DataSet

In [3]:
df = pd.read_csv(r"..\raw\Economic.csv",
                 delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 1202 non-null   object
 1    Year                   1171 non-null   float64
 2    GDP (in billion USD)   1173 non-null   float64
 3    Inflation Rate (%)     1145 non-null   float64
 4    Unemployment Rate (%)  1165 non-null   float64
 5    Economic Growth (%)    1186 non-null   float64
dtypes: float64(5), object(1)
memory usage: 61.3+ KB

Display an **overview** of the dataset

In [4]:
df.head()

,Country,Year,GDP (in billion USD),Inflation Rate (%),Unemployment Rate (%),Economic Growth (%)
0,USA,2010.0,15000.0,1.64,9.63,2.55
1,NaN,2011.0,15500.0,3.16,8.94,1.53
2,USA,2012.0,NaN,2.07,8.10,2.28
3,USA,2013.0,16500.0,1.50,7.70,1.84
4,USA,2014.0,17000.0,1.62,NaN,2.53

**Drop** the fourth column

In [5]:
df = df.drop(df.columns[3], axis=1)  
df.head()

,Country,Year,GDP (in billion USD),Unemployment Rate (%),Economic Growth (%)
0,USA,2010.0,15000.0,9.63,2.55
1,NaN,2011.0,15500.0,8.94,1.53
2,USA,2012.0,NaN,8.10,2.28
3,USA,2013.0,16500.0,7.70,1.84
4,USA,2014.0,17000.0,NaN,2.53

**Rename** columns

In [6]:
df_w = df.rename(columns={
    ' Year':'Year',
    ' GDP (in billion USD)':'GDP (in billion USD)',
    ' Unemployment Rate (%)':'Unemployment Rate (%)',
    ' Economic Growth (%)':'Economic Growth (%)'
})
df_w.info()
df_m = df_w.copy()
df_l = df_w.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                1202 non-null   object
 1   Year                   1171 non-null   float64
 2   GDP (in billion USD)   1173 non-null   float64
 3   Unemployment Rate (%)  1165 non-null   float64
 4   Economic Growth (%)    1186 non-null   float64
dtypes: float64(4), object(1)
memory usage: 51.1+ KB

# Determing **Distinct** Values

In [7]:
df_w['Country'].unique()

array(['USA', nan, 'China', 'Japan', 'Germany', 'India', 'UK', 'Canada',
       'Russia', 'Australia', 'France', 'South Korea', 'Saudi Arabia',
       'Brazil', 'Italy', 'Bangladesh', 'Indonesia', 'Turkey', 'Malaysia',
       'Pakistan'], dtype=object)

In [8]:
df_w['Country'].nunique()

19

In [9]:
df_w['Year']

0       2010.0
1       2011.0
2       2012.0
3       2013.0
4       2014.0
         ...
1299    2013.0
1300    2017.0
1301    2017.0
1302    2023.0
1303    2017.0
Name: Year, Length: 1304, dtype: float64

In [10]:
df_w['Year'].nunique()

16

# Data Cleaning - Droping NaN

In [11]:
df_w.isna().sum()

Country                  102
Year                     133
GDP (in billion USD)     131
Unemployment Rate (%)    139
Economic Growth (%)      118
dtype: int64

In [12]:

df_w = df_w.dropna(subset=['Year'])
df_w.isna().sum()

Country                   96
Year                       0
GDP (in billion USD)     125
Unemployment Rate (%)    119
Economic Growth (%)      107
dtype: int64

In [13]:

df_w = df_w.dropna(subset = ['GDP (in billion USD)'])
df_w.isna().sum()

Country                   88
Year                       0
GDP (in billion USD)       0
Unemployment Rate (%)    106
Economic Growth (%)       95
dtype: int64

In [14]:
df_w.isna().sum()

Country                   88
Year                       0
GDP (in billion USD)       0
Unemployment Rate (%)    106
Economic Growth (%)       95
dtype: int64

In [15]:
df_w = df_w.dropna(subset=['Year','GDP (in billion USD)'])
df_w.isna().sum()

Country                   88
Year                       0
GDP (in billion USD)       0
Unemployment Rate (%)    106
Economic Growth (%)       95
dtype: int64


# Data Cleaning - Replacing NaN with Mean

Make a copy of **df_w**

In [16]:

df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                1202 non-null   object
 1   Year                   1171 non-null   float64
 2   GDP (in billion USD)   1173 non-null   float64
 3   Unemployment Rate (%)  1165 non-null   float64
 4   Economic Growth (%)    1186 non-null   float64
dtypes: float64(4), object(1)
memory usage: 51.1+ KB

In [17]:

GDP_mean = df_w['GDP (in billion USD)'].mean()
print(GDP_mean)
df_m['GDP (in billion USD)'] = df_m['GDP (in billion USD)'].fillna(GDP_mean)

3456.9923518164437

In [18]:

df_m['Unemployment Rate (%)'] = df_m['Unemployment Rate (%)'].fillna(df_w['Unemployment Rate (%)'].mean())

In [19]:

df_m['Economic Growth (%)'] = df_m['Economic Growth (%)'].fillna(df_w['Economic Growth (%)'].mean())

In [20]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                1202 non-null   object
 1   Year                   1171 non-null   float64
 2   GDP (in billion USD)   1304 non-null   float64
 3   Unemployment Rate (%)  1304 non-null   float64
 4   Economic Growth (%)    1304 non-null   float64
dtypes: float64(4), object(1)
memory usage: 51.1+ KB

In [21]:
df.describe()

,Year,GDP (in billion USD),Unemployment Rate (%),Economic Growth (%)
count,1171.000000,1173.000000,1165.000000,1186.000000
mean,2017.518360,3527.868713,6.218215,2.968651
std,4.650003,4458.555757,2.620394,3.293567
min,2010.000000,105.000000,2.100000,-14.000000
25%,2013.000000,1150.000000,4.300000,1.500000
50%,2017.000000,2050.000000,5.500000,2.800000
75%,2022.000000,3700.000000,8.000000,5.000000
max,2025.000000,22500.000000,13.700000,11.000000

# Data Cleaning putting **Mode**

In [22]:
df["Country"] = df["Country"].fillna(df["Country"].mode()[0])

In [23]:
df_w.describe()

,Year,GDP (in billion USD),Unemployment Rate (%),Economic Growth (%)
count,1046.000000,1046.000000,940.000000,951.000000
mean,2017.567878,3456.992352,6.174723,2.967992
std,4.666554,4369.691797,2.606731,3.301479
min,2010.000000,105.000000,2.100000,-14.000000
25%,2013.000000,1150.000000,4.200000,1.500000
50%,2017.500000,2000.000000,5.400000,2.800000
75%,2022.000000,3700.000000,7.850000,5.000000
max,2025.000000,22500.000000,13.700000,11.000000

# Data Cleaning putting **Median**

In [24]:
df.columns = df.columns.str.strip()

columns_to_fill = ["GDP (in billion USD)", "Unemployment Rate (%)", "Economic Growth (%)"]

for col in columns_to_fill:
    df[col] = df[col].fillna(df[col].median())

In [25]:
df_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                1202 non-null   object
 1   Year                   1171 non-null   float64
 2   GDP (in billion USD)   1173 non-null   float64
 3   Unemployment Rate (%)  1165 non-null   float64
 4   Economic Growth (%)    1186 non-null   float64
dtypes: float64(4), object(1)
memory usage: 51.1+ KB

In [26]:
df_l.describe()

,Year,GDP (in billion USD),Unemployment Rate (%),Economic Growth (%)
count,1171.000000,1173.000000,1165.000000,1186.000000
mean,2017.518360,3527.868713,6.218215,2.968651
std,4.650003,4458.555757,2.620394,3.293567
min,2010.000000,105.000000,2.100000,-14.000000
25%,2013.000000,1150.000000,4.300000,1.500000
50%,2017.000000,2050.000000,5.500000,2.800000
75%,2022.000000,3700.000000,8.000000,5.000000
max,2025.000000,22500.000000,13.700000,11.000000

# Saving the Cleaned Sheet

In [27]:
df_l.to_csv(r"..\raw\Economic-Fully-Cleaned.csv",
            index=False)