# Week 2 Measures Of Central Tendency 
# Tendency

Name: **Danilo B. Aloquina III**
Course: **CPE2A**

import **pandas** and **numpy**

In [1]:
import pandas as pd
import numpy as np

Create a **DataFrame** for "Pizza-Prices"

In [2]:
df = pd.read_csv("Pizza-prices.csv")
df

    Position  New York City  Los Angeles
0          1              1          1.0
1          2              2          2.0
2          3              3          3.0
3          4              3          4.0
4          5              5          5.0
5          6              6          6.0
6          7              7          7.0
7          8              8          8.0
8          9              9          9.0
9         10             11         10.0
10        11             66          NaN

# New York City

Display the **mean** of New York City PizzaPrices

In [3]:
ny_mean = df['New York City'].mean()
print(ny_mean)

11.0

Display the *data* type of **ny_mean**

In [4]:
type(ny_mean)

numpy.float64

Display the **median** of New York City Pizza Prices

In [5]:
ny_median = df['New York City'].median()
print("Median = " + str(ny_median))

Median = 6.0

Display the *data* type of **ny_median**

In [6]:
type(ny_median)

numpy.float64

Display the **mode** of New York City Pizza Prices

In [7]:
ny_mode = df['New York City'].mode()
ny_mode

0    3
Name: New York City, dtype: int64

Display the *data* type of **ny_mode**

In [8]:
type(ny_mode)

pandas.core.series.Series

Convert *ny_mode* to **Numpy Array** then retrieve the **first index** value

In [9]:
ny_mode = df['New York City'].mode().to_numpy()[0]
print("Mode = " + str(ny_mode))

Mode = 3

Display the *data* type of **ny_mode**

In [10]:
type(ny_mode)

numpy.int64

# Los Angeles

Display the **mean** of Los Angeles Pizza Prices

In [11]:
la_mean = df['Los Angeles'].mean()
print("Mean = $ " + str(la_mean))

Mean = $ 5.5

Display the **median** of Los Angeles Pizza Prices

In [12]:
la_median = df['Los Angeles'].median()
print("Median = $ " + str(la_median))

Median = $ 5.5

Display the **mode** of Los Angeles Pizza Prices

In [13]:
la_mode = df['Los Angeles'].mode()
la_mode

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
Name: Los Angeles, dtype: float64

Display the **length** of "Los Angeles" column and *la_mode*

*Don't forget to drop NAN value*

In [14]:
len(df['Los Angeles'].dropna())

10

In [15]:
len(la_mode)

10

Equal lengths indicate each elements has the same frequency (**No Mode**)

In [16]:
if len(df['Los Angeles'].dropna()) == len(la_mode):
    print("No Mode")

No Mode

Apply same **condition** to New York City Mode

In [17]:
ny_mode = df['New York City'].mode()

if len(df['New York City'].dropna()) == len(ny_mode):
    print("No Mode")
else:
    ny_mode = df['New York City'].mode().dropna().to_numpy()[0]
    print("Mode = $ " + str(ny_mode))

Mode = $ 3